traitlets>=4.3.1
ipython
pandas
numpy
vdom
nbresuse
jupyterlab-git
jupyterlab_github
jupyterlab-solutions
jupyterlab_snippets
jupyterlab-quickopen
ipyscales
plotly
pythreejs
ipympl
bqplot
ipywidgets
gmaps
ipyleaflet
jupyterlab_launcher>=0.5.0